@font-face {
    font-family: 'Roboto';
    src: url("assets/fonts/Roboto-Thin.ttf");
    font-weight: 100;
}
@font-face {
    font-family: 'Roboto';
    src: url("assets/fonts/Roboto-Light.ttf");
    font-weight: 300;
}

.cosmos {
    position: absolute;
    margin-top: -99999999px;
}

body {
    max-width: 1024px;
    min-width: 540px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    padding: 2rem;
    background-color: grey;   
}

.cv {
    max-width: 1024px;
    margin: auto;
    border: #2d333a solid 1px;
    display: flex;
    box-shadow: 1px 81px 100px 5px rgb(0 0 0 / 49%);
}

.header {
    margin-bottom: 20px;
}

* {
    box-sizing: border-box;
}

header {
    display: block;
}

.photo {
    width: 100%;
    margin: 0;
}

.photo img {
    width: 100%;
    box-shadow: 5px 6px 32px 1px rgb(0 0 0 / 49%);
}

img {
    border-style: none;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.about {
    padding: 1rem;
    width: 35%;
    color: #adbac7;
    background-color: #2d333a;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

article {
    display: block;
}

.contacts__text {
    text-transform: uppercase;
    font-size: 24px;
}

.underlined {
    width: 100%;
    height: 0.05rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    background-color: #adbac7;
    padding: 0;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.phone__icon {
    margin-right: 1rem;
}

li {
    display: list-item;
}

.contacts__text {
    text-transform: uppercase;
    font-size: 24px;
}

.skills_list {
    margin-bottom: 4rem;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

div {
    display: block;
}

.about-me {
    padding: 1rem;
    width: 75%;
    color: #2d333a;
    background-color: #adbac7;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

h5 {
    display: block;
    font-size: 0.83em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.underlined-grey {
    width: 100%;
    height: 0.05rem;
    margin-top: 0.5rem;
    background-color: grey;
    margin-bottom: 5rem;
}

.contacts__text {
    text-transform: uppercase;
    font-size: 24px;
}

nav {
    display: block;
}

.education {
    margin-bottom: 3rem;
}

.description {
    padding: 10px;
    display: flex;
    font-size: 15px;
    line-height: 1.5;
    border-top: solid grey 1px;
}

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr 1fr 1fr);
    align-items: right;
    padding: 20px;
    margin: 20px;
    color: black;
}

.page-body a {
    color: white;
}

.footer__github {
    position: relative;
    grid-column: 1 / span 7;
}

.footer__rsschool {
    position: relative;
    grid-column: 0 / span 7;
}